PUBLIC_SITE_URL=https://prasentace.cz
PHP_API_BASE_URL=http://127.0.0.1/php/php-core/api
INTERNAL_API_KEY=
MAILING_FROM=info@prasentace.cz
MAILING_FROM_NAME=Prasentace
MAILING_FROM_PHONE=
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
